#cover-pic {
    width: 100%;
    height:auto;
}

#headline {
    font-size: 48px;
    text-align: center;
}

/* using class-Selector */
.country-description{
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    padding-left: 32px;
    padding-right: 32px;
}