body {
    margin: 0;
}

h2 {
    font-weight: bold;
    margin-top: 64px;
    text-decoration: underline;
}

h2:first-of-type {
    margin-top: 32px;
}

h3 {
    text-align: center;
    margin-top: 64px;
}

h3:first-of-type {
    margin-top: 12px;
}

.item {
    background-color: lightcoral;
    margin: 6px 6px;
    padding: 32px;
    font-size: 24px;
    text-align: center;
}

.containerRow {
    width: 100vw;
    background-color: lightblue;
    box-sizing: border-box;
    margin: 16px 0;
    padding: 32px;
    display: flex; /*Change display property to Flex-Layout*/
    flex-direction: row; /*default value is row*/
}

.containerColumn {
    width: 100vw;
    height: 450px;
    background-color: lightblue;
    box-sizing: border-box;
    margin: 16px 0;
    padding: 32px;
    display: flex; /*Change display property to Flex-Layout*/
    flex-direction: column;
}

#containerRowReverse {
    flex-direction: row-reverse;
}

#containerColumnReverse {
    flex-direction: column-reverse;
}

#containerRowSpaceBetween {
    justify-content: space-between;
}

#containerRowSpaceAround {
    justify-content: space-around;
}

#containerRowFlexStart {
    justify-content: flex-start;
}

#containerRowFlexEnd {
    justify-content: flex-end;
}

#containerRowFlexCenter {
    justify-content: center;
}

#containerColumnSpaceBetween {
    height: 900px;
    justify-content: space-between;
}

#containerColumnSpaceAround {
    height: 900px;
    justify-content: space-around;
}

#containerColumnFlexStart {
    height: 900px;
    justify-content: flex-start;
}

#containerColumnFlexEnd {
    height: 900px;
    justify-content: flex-end;
}

#containerColumnFlexCenter {
    height: 900px;
    justify-content: center;
}

#containerRowNoFlexWrap {
    flex-wrap: nowrap;
}

#containerRowFlexWrap {
    flex-wrap: wrap;
}

#containerColumnNoFlexWrap {
    margin-bottom: 1000px;
    flex-wrap: nowrap;
}

#containerColumnFlexWrap {
    flex-wrap: wrap;
}