body {
    margin: 0px 6px;
    font-size: 24px;
}

#header {
    background-color: greenyellow;
    padding: 24px;
    grid-area: header;
}

#sidebar {
    background-color: lightcoral;
    padding: 24px;
    grid-area: sidebar;
}

#main {
    background-color: lightskyblue;
    padding: 24px;
    height: 450px;
    grid-area: main;
}

#aside {
    background-color: bisque;
    padding: 24px;
    grid-area: aside;
}

#footer {
    background-color: lightseagreen;
    padding: 24px;
    grid-area: footer;
}

#gridContainer {
    display: grid;
    grid-gap: 8px;
    grid-template-areas: 
    'header header header header header header'
    'sidebar main main main main aside'
    'footer footer footer footer footer footer';
}

@media (max-width: 900px) {
    #gridContainer {
        grid-template-areas: 
        'header header header header header header'
        'sidebar main main main main main'
        'aside aside aside aside aside aside'
        'footer footer footer footer footer footer';
    }
}

@media (max-width: 400px) {
    #gridContainer {
        grid-template-areas: 
        'header header header header header header'
        'sidebar sidebar sidebar sidebar sidebar sidebar'
        'main main main main main main'
        'aside aside aside aside aside aside'
        'footer footer footer footer footer footer';
    }
}