body {
    margin: 0;
    background-image: url(grassandsky.jpg);
    background-size: cover;
}

img {
    width: 200px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    animation: fly 3s ease-in 0.5s 1 normal;
    animation-fill-mode: forwards;
}

@keyframes fly {
    0% {
        transform: translate(-50%, 0);
    }

    100% {
        transform: translate(-50%, -100vh);
    }
}