body {
    margin: 0;
}

h2 {
    font-weight: bold;
    margin-top: 64px;
    margin-left: 32px;
    text-decoration: underline;
}

h2:first-of-type {
    margin-top: 32px;
}

h3 {
    text-align: center;
    margin-top: 64px;
}

h3:first-of-type {
    margin-top: 12px;
}

.item {
    background-color: lightcoral;
    margin: 6px 6px;
    padding: 32px;
    font-size: 24px;
    text-align: center;
}
 .containerRow{
    width: 100vw;
    height: 400px;
    background-color: lightblue;
    box-sizing: border-box;
    padding: 32px;
    display: flex; /*Change display property to Flex-Layout*/
    flex-direction: row; /*default value is row*/
 }

 .containerColumn {
    width: 100vw;
    height: 700px;
    background-color: lightblue;
    box-sizing: border-box;
    padding: 32px;
    display: flex; /*Change display property to Flex-Layout*/
    flex-direction: column; 
 }

#containerRowAlignStretch {
    align-items: stretch;
}

#containerRowAlignFlexStart {
    align-items: flex-start;
}

#containerRowAlignFlexEnd {
    align-items: flex-end;
}

#containerRowAlignCenter {
    align-items: center;
}

#containerColumnAlignStretch {
    align-items: stretch;
}

#containerColumnAlignFlexStart {
    align-items: flex-start;
}

#containerColumnAlignFlexEnd {
    align-items: flex-end;
}

#containerColumnAlignCenter {

    align-items: center;
}

#containerRowAlignContentCenter {
    flex-wrap: wrap;
    align-content: center;
}

#containerRowAlignContentFlexStart {
    flex-wrap: wrap;
    align-content: flex-start;
}

#containerRowAlignContentFlexEnd {
    flex-wrap: wrap;
    align-content: flex-end;
}

#containerRowAlignContentSpaceBetween {
    flex-wrap: wrap;
    align-content: space-between;
}

#containerRowAlignContentSpaceAround {
    flex-wrap: wrap;
    align-content: space-around;
}

#containerRowAlignContentStretch {
    flex-wrap: wrap;
    align-content: stretch;
}

#containerRowCentering {
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#containerColumnAlignContentCenter {
    flex-wrap: wrap;
    align-content: center;
}

#containerColumnAlignContentFlexStart {
    flex-wrap: wrap;
    align-content: flex-start;
}

#containerColumnAlignContentFlexEnd {
    flex-wrap: wrap;
    align-content: flex-end;
}

#containerColumnAlignContentSpaceBetween {
    flex-wrap: wrap;
    align-content: space-between;
}

#containerColumnAlignContentSpaceAround {
    flex-wrap: wrap;
    align-content: space-around;
}

#containerColumnAlignContentStretch {
    flex-wrap: wrap;
    align-content: stretch;
}

#containerColumnCentering {
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* align-items: center; */
}
