body {
    margin: 0;
    background-color: rgb(197, 223, 231);
}

#topbar {
    width: 100%;
    height: 62px;
    padding: 12px 80px;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 5px #aaa;
}

#logo {
    color: lightskyblue;
    font-size: 32px;
    letter-spacing: -1px;
    font-weight: 900;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 48px;
}

.menuItem{
    margin: 12px;
    position: relative;
    top: -5px;
    cursor: pointer;
    float: right;
    font-weight: bold;
}

main {
    padding: 5% 12%;
    box-sizing: border-box;
}

h1 {
    color: darkblue;
    width: 300px;
    height: 400px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.897);
    
    /* Parameter: offset horizonzal, offset vertical, blur, color */
    text-shadow: 4px 4px 4px gray; 

    /* Box-Schatten: Parameter wie text-shadow */
    box-shadow: 0px 4px 4px gray;
}

p {
    /* Multiple Shadows */
    text-shadow: 2px 2px 2px red, 2px 2px 2px green;
}
