body {
    font-family: Arial, sans-serif;
    padding: 0 16px;
}

nav {
    text-align: right;
    margin-top: 20px;
}

.menuItem{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    position: relative;
    top: -16px;
    margin-right: 16px;
}

.menuItem:hover{
    text-decoration: underline;
}

#appIcon{
    position: relative;
    top: -10px;
    margin-right: 16px;
}

#profileLogo{
    position: relative;
    top: -10px;
    margin-right: 16px;
}

section {
    padding-top: 10%;
    text-align: center;
}

#inputWrapper {
    width: 582px;
    position: relative;
    display: inline-block;
}

#inputWrapper > img {
    position: absolute;
    top: 32px;
    right: 0;
    width: 28px;
}

#searchBox{
    width: 100%;
    color: #222;
    border: 1px solid #dfe1e5;
    font-size: 13px;
    padding: 14px;
    border-radius: 24px;
    outline: none;
    margin-top: 24px;
    margin-bottom: 24px;
}

#searchBox:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0); 
}

#searchBox:focus{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.searchButtons{
    background-color: #f2f2f2;
    color: #5F6368;
    font-size: 14px;
    height: 36px;
    padding: 0 16px;
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0,0,0,0);
    color: #222;
}

.searchButtons:hover {
    background-image:linear-gradient(top,#f8f8f8,#f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

.searchButtons:first-of-type {
    margin-right: 16px;
}

#appDropdown{
    width: 175px;
    padding: 14px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    position: absolute;
    right: 85px;
    display: none;
}

#dropdownWrapper{
    display: inline-block;
}

#dropdownWrapper:hover 
#appDropdown{
    display: block;
}

.appItem{
    display: inline-block;
    width: 50px;
    margin-bottom: 12px;
    padding: 8px 2px;
    text-align: center;
}

.appItem > img {
    width: 30px;
    height: 30px;
}

.appItem > p {
    color: rgba(0,0,0,0.87);
    margin: 0;
    padding-top: 8px;
    font-size: 12px;
}

.appItem:hover{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}