body {
    margin: 0;
    background-color: rgb(197, 223, 231);
}

#topbar {
    width: 100%;
    height: 62px;
    padding: 12px 80px;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 5px #aaa;
}

#logo {
    color: lightskyblue;
    font-size: 32px;
    letter-spacing: -1px;
    font-weight: 900;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 48px;
}

.menuItem{
    margin: 12px;
    position: relative;
    top: -5px;
    cursor: pointer;
    float: right;
    font-weight: bold;
}

section {
    padding-top: 48px;
    padding-left: 64px;
    padding-right: 64px;
    margin: 62px 32px;
    overflow: visible;
    box-sizing: content-box;
}

.blogCard{
    overflow: visible;
    width: 300px;
    height: 600px;
    padding: 0;
    margin: 0px 24px;
    border: 1px solid gray;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 4px 4px gray;
    
}

.blogImage{
    padding: 0;
    margin: 0;
    width: 300px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.blogHeading{
    margin: 16px 16px 12px;
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    color: rgba(0,0,0,0.9);
    white-space: nowrap; /*Simulate text-overflow: no line breaks;*/
    overflow: hidden;
    text-overflow: ellipsis;
}

.blogDescription{
    margin: 12px 16px 16px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(0,0,0,0.8);
    word-break: break-all;
    /* word-wrap: break-word; */
}