body {
    background-color: lightblue;
}

h1 {
    text-align: center;
}

#registerForm {
    width: 400px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 5px 5px gray;
    padding: 24px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}

.inputItem {
    width: 100%;
    font-size: 18;
    margin-bottom: 8px;
    margin-top: 16px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.inputItem:focus {
    background-color: lightblue;
}

.inputItem:focus:required {
    background-color: lightgreen;
}

.inputItem:disabled {
    cursor: not-allowed;
}

#termsCheck{
    margin-top: 12px;
    margin-bottom: 18px;
}

#checkBoxTerms{
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    overflow: hidden;
}

#checkBoxLabel {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
    font-size: 15px;
}

#buttonSubmit{
    width: 100%;
    font-size: 18px;
    cursor: pointer;
    background-color: rgba(0, 72, 255, 0.8);
    color: white;
    border-radius: 8px;
    border: 0;
    padding: 10px 12px;
    margin-top: 20px;
    outline: none;
}

#buttonSubmit:hover {
    background-color:  rgba(0, 72, 255, 1.0);
}

article {
    padding: 18px;
    margin-bottom: 36px;
    font-size: 24px;
    line-height: 1.4;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 5px 10px #aaa;
}

.heading {
    font-size: 36px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

article p {
    font-size: 12px;
}

/* Selecting first Paragraph of each Article */
article > p:first-of-type {
    background-color: lightcoral;
}

/* Selecting last Paragraph of each Article */
article > p:last-of-type {
    background-color: lightskyblue;
}

/* Selecting the 2nd Paragraph of each Article */
article > p:nth-of-type(2) {
    background-color: lime;
}

/* Selecting the nTH-Last Paragraph of each Article*/
article > p:nth-last-of-type(2) {
    text-decoration: underline;
}

/* Select all the Paragraphs which are the last child inside Article */
article > p:last-child {
    font-weight: bold;
}

/* Select all the Paragraphs which are the second child inside Article */
article > p:nth-child(2) {
    font-size: 20px;
}
