#topBar {
    width: 100%;
    height: 62px;
    padding: 12px 80px;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 5px #aaa;
}

#logo {
    color: lightskyblue;
    font-size: 32px;
    letter-spacing: -1px;
    font-weight: 900;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 48px;
}

.menuItem{
    margin: 12px;
    position: relative;
    top: -5px;
    cursor: pointer;
    font-weight: bold;
}

main {
    margin: 75px 5%;
}

body {
    background-color: rgb(233, 243, 247);
}

#coverPicWrapper img {
    width: 100%;
    display: block;
    margin: auto auto;
}

#descriptionWrapper h1 {
    text-align: center;
    font-size: 48px;
}

#descriptionWrapper p {
    font-size: 20px;
    line-height: 1.4;
    padding-left: 32px;
    padding-right: 32px;
    text-align: left;
}

section {
    display: inline-block;
    width: 70%;
    margin-right: 24px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px #aaa;
}

aside {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    background-color: white;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 2px 5px #aaa;
}

.placeWrapper {
    width: 100%;
    border-bottom: 1px solid #aaa;
    margin-bottom: 16px;
}

.placeWrapper:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
}

.placeWrapper img {
    width: 100%;
}

.placeWrapper p {
    font-size: 18px;
    text-align: center;
}

@media screen and (max-width : 700px) {
    
    #topBar {
        text-align: center;
        height: 80px;
    }

    #logo {
        display: block;
        margin-right: 0px;
    }
    
    .menuItem {
        display: inline-block;
        font-size: 18px;
        margin-top: 12px;
    }

    .menuItem:last-of-type {
        margin-right: 0;
    }

    main {
        padding: 2%;
    }

    #descriptionWrapper h1 {
        font-size: 24px;
    }
    
    #descriptionWrapper p {
        font-size: 18px;
    }
    
    section {
        display: block;
        width: 100%;
    }

    aside {
        display: block;
        width: 100%;
    }
}