body {
    margin: 0;
    background-color: rgb(197, 223, 231);
}

#topbar {
    width: 100%;
    height: 62px;
    padding: 12px 80px;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 5px #aaa;
}

#logo {
    color: lightskyblue;
    font-size: 32px;
    letter-spacing: -1px;
    font-weight: 900;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 48px;
}

.menuItem{
    margin: 12px;
    position: relative;
    top: -5px;
    cursor: pointer;
    float: right;
    font-weight: bold;
}

main {
    padding: 5% 12%;
    box-sizing: border-box;
}

article {
    padding: 18px;
    margin-bottom: 36px;
    font-size: 18px;
    line-height: 1.4;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 5px 10px #aaa;
}

.heading {
    font-size: 36px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* First-Line: Select first line of each Paragraph which is a direct child of article */
article > p::first-line {
    letter-spacing: 3px;
    color: lightgreen;
}

/* First-Letter: Select first letter of each Paragraph which is a direct child of article */
article > p::first-letter {
    font-size: 26px;
    color:lightcoral;
}

/* Selection: Text of a Paragraph which is a direct child of article and is selected with mouse */
article > p::selection {
    background-color: lime;
    color: black;
}

/* Insert content before every Paragraph which is a direct child of article*/
article > p::before { 
    content: " "
}

/* Insert content after every Paragraph which is a direct child of article*/
article > p::after {
    content: url(https://img.icons8.com/windows/2x/ios-logo.png) /*Abmessungen des Bildes lassen sich hier nicht mehr ändern!*/
}