h1{
    color: blue ; /*Textfarbe*/
    text-align: center; /*Textausrichtung: Zentriert*/
    font-style: italic; /*Textstil: Kursiv*/
    text-decoration: underline; /*Text unterstrichen, overline: Linie überhalb des Textes, line-through: Text durchgestrichen*/
    text-transform: uppercase; /*Text in Großbuchstaben, lowercase: Text in Kleinbuchstaben, capitalize: jeder Anfangsbuchstabe groß*/
    font-family: 'Nosifer', cursive; /*Google Font*/
}

p {
    color: rgb(32, 199, 17);
    text-align: justify;  /*Blocksatz*/
    font-weight: bold; /*Textdicke, bold = fett*/
    letter-spacing: 1px; /*Abstand zwischen Buchstaben in Pixel*/
    word-spacing: -2px; /*Abstand zwischen Wörtern*/
    line-height: 1.2; /*Abstand zwischen Zeilen*/
    font-family: 'Syncopate', sans-serif; /*Google Font*/
}