body {
    margin: 0;
    background-color: rgb(197, 223, 231);
}

#topbar {
    width: 100%;
    height: 62px;
    padding: 12px 80px;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
}

#logo {
    color: lightskyblue;
    font-size: 32px;
    letter-spacing: -1px;
    font-weight: 900;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 48px;
}

.menuItem{
    margin: 12px;
    position: relative;
    top: -5px;
    cursor: pointer;
    float: right;
    font-weight: bold;
}

#articleWrapper {
    padding: 8% 16%;
}

article {
    padding-bottom: 48px;
    font-size: 18px;
    line-height: 1.4;
    text-align: justify;
}

.articlePic {
    width: 300px;
    height: 300px;
    float: left;
    margin-right: 16px;
    margin-bottom: 8px;
}

#secondImage {
    float: right;
    margin-left: 16px;
}