 .transform{
    width: 300px;
    height: 300px;
    display: block;
    margin-top: 150px;
    margin-left: 150px;
}

#noTransform{
    background-color: lightgray;
}

#translate{
    background-color: lightgreen;
    transform: translate(23px, 34px);
}

#rotate{
    background-color: lightsalmon;
    transform: rotateY(23deg);
}

#scale{
    background-color: lightyellow;
    transform: scaleX(1.5);
}

#skew{
    background-color: lightsteelblue;
    transform: skewY(32deg);
}