.changeBackgroundWrapper{
    width: 200px;
    height: 200px;
    margin: 48px;
    background-color: lightblue;
    transition-property: background-color;
    transition-duration: 1s;
    display: inline-block;
}

.changeBackgroundWrapper > p {
    height: 200px;
    line-height: 200px;
    margin: 0;
    text-align: center;
}

.changeBackgroundWrapper:hover {
    background-color: lightcoral;
}

#easeIn {
    transition-timing-function: ease-in;
}

#easeOut {
    transition-timing-function: ease-out;
}

#linear {
    transition-timing-function: linear;
}

.changeBorderRadiusWrapper{
    width: 200px;
    height: 200px;
    margin: 48px;
    background-color: lightblue;
    transition-property: border-radius;
    transition-duration: 1s;
    display: inline-block;
}

.changeBorderRadiusWrapper > p {
    height: 200px;
    line-height: 200px;
    margin: 0;
    text-align: center;
}

.changeBorderRadiusWrapper:hover {
    border-radius: 250px;
}

/* Transition Shortcut: transition: [property] [duraction] [timing-function] */