#div1 {
    width: 100%;
    height: 100px;
    background: linear-gradient(to right,  #f869d5, #5650de);
}

#div2 {
    width: 300px;
    height: 300px;
    margin-top: 48px;
    background:linear-gradient(45deg,  #f869d5, #5650de);
}

#div3 {
    width: 300px;
    height: 300px;
    margin-top: 48px;
    background:linear-gradient(180deg,  #f869d5, #5650de);
}

#div4 {
    width: 100%;
    height: 100px;
    background: radial-gradient(circle, #f869d5, #5650de);
}

#div5 {
    width: 100%;
    height: 100px;
    background: radial-gradient(circle closest-side, #f869d5, #5650de);
}

#div6 {
    width: 100%;
    height: 100px;
    background: radial-gradient(circle at top left, #f869d5, #5650de);
}

