body {
    margin: 0;
    background-color: rgb(197, 223, 231);
}

nav {
    display: flex;
    justify-content: space-between;
}

#topbar {
    padding: 12px 80px;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: 0px 2px 5px #aaa;
}

#leftMenu{
    display: flex;
    align-items: center;
}

#rightMenu {
    display: flex;
    align-items: center;
}

#logo {
    color: lightskyblue;
    font-size: 32px;
    letter-spacing: -1px;
    font-weight: 900;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    margin-right: 58px;
}

.menuItem{
    margin: 0 16px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

#searchContainer {
    width: 300px;
    position: relative;
}

#searchContainer > input {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

#searchIcon {
    width: 20px;
    position: absolute;
    right: 6px;
    top: 7px;
    z-index: 10;
}

#profileIcon {
    width: 20px;
    height: 22px;
}

#notificationIcon {
    width: 20px;
    height: 22px;
    margin-left: 24px;
    margin-right: 16px;
}

main {
    padding: 4%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blogCard{
    width: 23%;
    min-width: 200px;
    height: auto;
    vertical-align: top;
    background-color: white;
    margin: 8px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px #aaa;
    cursor: pointer;
}

.blogCard:hover {
    box-shadow: 0 5px 10px #aaa;
}

.blogImage{
    width: 100%;
    height: 150px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.blogHeading{
    margin: 0;
    padding: 8px;
    font-size: 16px;
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    color: rgba(0,0,0,0.9);
    overflow: hidden;
}

