body {
    margin: 0;
}

#coverPicWrapper img {
    width: 100%;
    max-width: 800px;
    min-width: 400px;
    display: block;
    margin: auto auto;
}

#descriptionWrapper {
    width: 100%;
    max-width: 800px;
    min-width: 400px;
    margin: 0 auto;
    text-align: center;
}

#descriptionWrapper h1 {
    font-size: 48px;
}

#descriptionWrapper p {
    font-size: 20px;
    line-height: 1.4;
    padding-left: 32px;
    padding-right: 32px;
}
