body {
    margin: 0;
    background-color: rgb(197, 223, 231);
}

#topbar {
    width: 100%;
    height: 62px;
    padding: 12px 80px;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
}

#logo {
    color: lightskyblue;
    font-size: 32px;
    letter-spacing: -1px;
    font-weight: 900;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 48px;
}

.menuItem{
    margin: 12px;
    position: relative;
    top: -5px;
    cursor: pointer;
}

#wrapper {
    width: 100%;
    height: 660px;
    background-color: lightblue;    
    padding-top: 200px;
}


#colorImage1 {
    width: 300px;
    height: 300px;
    background-color:rgb(96, 190, 248);
    position: sticky;
    top: 78px; /*Das Bild stoppt beim hochscrollen bei 78 Pixeln von oben*/
}

#colorImage {
    width: 300px;
    height: 300px;
    background-color:rgb(96, 190, 248);   
}

#acceptCookies {
    width: 400px;
    height: 150px;
    background-color: lightcoral;
    text-align: center;
    padding: 45px;
    box-sizing: border-box;
    position: fixed;
    right: 0;
    bottom: 0;
}

#paragraphAcceptCookies {
    font-size: 16px;
    margin: 0;
    padding-bottom: 12px;
}

#buttonAcceptCookies {
    width: 120px;
    height: 40px;
    border: 0;
    background-color: lightgray;
    font-size: 20px;
    border-radius: 20px;
}
