body {
    margin: 0;
}

h1 {
    font-weight: bold;
    margin-top: 64px;
    margin-left: 32px;
    text-decoration: underline;
}

h1:first-of-type {
    margin-top: 32px;
}

h2 {
    text-align: center;
    margin-top: 64px;
}

h2:first-of-type {
    margin-top: 12px;
}

h3 {
    text-align: center;
}

.container {
    width: 100vw;
    background-color: lightblue;
    box-sizing: border-box;
    padding: 32px;
    display: flex;
}

.container .item {
    background-color: lightcoral;
    margin: 6px 6px;
    padding: 32px;
    font-size: 24px;
    text-align: center;
}

.container .item:nth-child(2) {
    background-color: bisque;
}

#containerGrowShrink .item:nth-child(1) {
    flex-grow: 1;  /*All elements have equal size in all the available space*/
}

#containerGrowShrink .item:nth-child(2) {
    flex-grow: 2; /*element with double the size of other items*/
}

#containerGrowShrink .item:nth-child(3) {
    background-color: lightgreen;
    /* grow and shrink don't work together: first change grow to 0 */
    flex-grow: 0;
    flex-shrink: 2; /*element with half the size of other elements*/
}

#containerGrowShrink .item:nth-child(4) {
    background-color: lightslategray;
    flex-grow: 3;
}

#containerBasis .item:nth-child(2) {
    flex-basis: 150px; /*give second item a minimal width of 150 pixels*/
}

#containerOrder .item:nth-child(2) {
    order: -1; /*default is 0, -1 moves it to the beginning (left), +1 to the end (right) of the container*/
}

#containerAlignment {
    height: 400px;
}

#containerAlignment .item:nth-child(odd) {
    align-self: flex-start; /*align odd items to flex start*/
}

#containerAlignment .item:nth-child(even) {
    background-color: bisque;
    align-self: center; /*align even items to center*/
}