#div1 {
    width: 300px;
    height: 300px;
    background-color: lightcoral;
    padding: 60px;
    box-sizing: content-box;
}

#div2 {
    width: 300px;
    height: 300px;
    background-color: burlywood;
    margin-top: 24px;
    padding: 60px;
    box-sizing: border-box;
}

.image {
    width: 100%;
    height: auto;
}