#first_paragraph{
    border: 3px solid red;

    /* PADDING */
    /*Kurze Version -> Parameterliste im Uhrzeigersinn: top, right, bottom, left*/
    padding: 8px 16px 8px 16px; 
    /*oder*/
    padding: 8px 16px; /*nimmt für Parameter 1 top und bottom, für Parameter 2 right und left an*/

    /* MARGIN */
    /*Kurze Version -> Parameterliste im Uhrzeigersinn: top, right, bottom, left*/
    margin: 8px 16px 8px 16px;
    /*oder*/
    margin: 8px 16px;  /*nimmt für Parameter 1 top und bottom, für Parameter 2 right und left an*/
}

#second_paragraph{
    border: 3px solid blue;
    
    /* PADDING */
    padding: 16px;
    /* Diese Full-Properties überschreiben die padding-Property!*/
    padding-top: 16px;
    padding-right: 20px;
    padding-left: 24px;
    padding-bottom: 28px;

    /* MARGIN */
    margin: 30px;
    /* Diese Full-Properties überschreiben die margin-Property!*/
    margin-top: 16px;
    margin-right: 20px;
    margin-bottom: 24px;
    margin-left: 28px;
}