#ordered_list{
    list-style-type: upper-roman; /*Art der Aufzählungszeichen: Römisch, Alphanumerisch, etc.*/
    width: 500px; /*Breite der Liste*/
    list-style-position: inside; /*Marker (1., 2., etc.) innerhalb der Liste darstellen*/
}

#unordered_list{
    list-style-type: none; /*Liste ohne Marker darstellen*/
    padding-left: 0; /*Liste ohne Abstand zum linken Rand darstellen*/
}