body {
    margin: 0;
}

header {
    background-color: lightblue;
    height: 80px;

    /*Header bleibt auch beim scrollen immer oben*/
    position: sticky; 
    top: 0;
}

main {
    /*aside & section werden 16px von header+footer & 10% vom linken/rechten Rand entfernt platziert*/
    padding: 16px 10%; 
}

aside {
    background-color: lightcoral;
    display: inline-block; /*dadurch kann dem Item eine width & height zugewiesen werden*/
    height: 450px;
    width: 29%;
    margin-right: 1%; /*Abstand von aside zu section = 1%*/
}

section {
    background-color: burlywood;
    display: inline-block; /*dadurch kann dem Item eine width & height zugewiesen werden*/
    height: 450px;
    width: 69%;
}

footer {
    background-color: lightgray;
    height: 300px;
}