body {
    margin: 0;
}

h1 {
    margin-top: 100px;
    font-size: 100px;
    font-family: 'Fredericka the Great', cursive;
    color: whitesmoke;
}

p {
    font-family: 'Antic', sans-serif;
    font-size: 34px;
    color: whitesmoke;
}

header {
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
    height: 720px;
    padding-left: 5%;
    padding-right: 5%;
    /* background-color: lightblue; Einfache Hintergrundfarbe */
    background-image: url('https://image.freepik.com/fotos-kostenlos/leerer-holztisch-mit-buntem-rauche-schweben-oben-auf-dunklen-hintergrund_68495-150.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    text-align: center;
}

nav > span {
    font-family: 'Antic', sans-serif;
    font-weight: bold;
    padding: 0 16px;
    font-size: 20px;
    color: whitesmoke;
    cursor: pointer;
    text-transform: uppercase;
}