.changeBackgroundWrapper{
    width: 200px;
    height: 200px;
    margin: 48px;
    border: 1px solid black;
    display: inline-block;
    animation-name: pulse;
    animation-duration: 2s;
}

.changeBackgroundWrapper > p {
    height: 200px;
    line-height: 200px;
    margin: 0;
    font-size: 12px;
    text-align: center;
}

/* Define different status of animation in keyframes 0% = Start, 100% = End*/
@keyframes pulse {
    0% {
        background-color: lightblue;
    }

    100% {
        background-color: lightcoral;
    }
}

@keyframes rotate180{
    0% {
        background-color: lightblue;
        transform: rotateZ(0deg);
    }

    100% {
        background-color: lightcoral;
        transform: rotateZ(180deg);
    }
}

#threeTimes{
    animation-iteration-count: 3;
}

#fiveTimesAndDirectionAlternate{
    animation-iteration-count: 5;
    animation-direction: alternate; /*This alternates the direction: going from 0-100%, then from 100-0% backwards*/
}

#infiniteAndTimingFunc{
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

#fillMode{
    animation-fill-mode: forwards;
}

#stopWhenHover{
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

#stopWhenHover:hover{
    animation-play-state: paused;
}

#rotateAndColor{
    animation-name: rotate180;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 5s;
}

#rotateAndColor:hover{
    animation-play-state: paused;
}

#rotateAndColor > p {
    font-size: 10px;
}