body {
    margin: 0;
    background-color: black; 
}

h1 {
    color: white;
    font-family: 'Saira Stencil One', cursive;
    text-align: center;
    letter-spacing: 4px;
    font-size: 48px;
}

#gridContainer {
    display: grid;

    /*Specify 5 Columns with 150px width and place in center*/
    /* grid-template-columns: 150px 150px 150px 150px 150px; /
    justify-content: center; */

    /*Use auto 5 times to give all items same available width*/
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 16px;
}

.moviePoster {
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.moviePoster:hover{
   animation: zoom 1s forwards;
}

@keyframes zoom {
    0% {
        transform: scale(1);
        box-shadow: 0 2px 5px #ccc;
    }

    100% {
        transform: scale(1.05);
    }
}

@media (max-width: 900px) {
    #gridContainer {
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 400px) {
    #gridContainer {
        grid-template-columns: auto auto;
    }
}