#first_paragraph{
    
    /* border-style: solid; Umrandungsstil*/
    
    border-top-style: solid;
    border-right-style: dashed;
    border-bottom-style: double;
    border-left-style: dotted;
    
    border-width: 6px; /*Umrandungsbreite*/
    border-color: red; /*Umrandungsfarbe*/ 

}

#second_paragraph{

    /* Ein Shortcut um Umrandungen zu erstellen: Breite, Style, Farbe*/
    border: 4px solid blue;

    border-top: 4px solid blue;
    border-right: 4px dashed green;
    border-bottom: 4px dotted red;
    border-left: 8px double yellow;

    border-radius: 15px; /* Für abgerundete Ecken*/
}