div{
    width: 300px;
    height: 150px;
    
    background-color: lightblue;

    position: absolute;
    left: 50%;
    /* transform: translateX(-50%); Horizontal Centering */

    top: 50%;
    /* transform: translateY(-50%); Vertical Centering */

    /* Center horizontal and vertical */
    transform: translate(-50%, -50%);
}
