#button_login {
    background-color: lightblue;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

#button_login:hover {
    background-color: darkblue;
    color: white;
}

#button_login:active {
    background-color: blue;
    color:white;
}

#button_signup {
    background-color: white;
    border: 2px solid lightblue;
    padding: 8px 16px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

#button_signup:hover {
    background-color: lightblue;
}

#button_disabled {
    background-color: lightblue;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: not-allowed;
    opacity: 0.6;
}