body {
    background-color: lightgray;
}

#wrapperVisible {
    width: 300px;
    height: 150px;
    overflow: visible;
}

#wrapperHidden {
    width: 300px;
    height: 150px;
    overflow:hidden;
}

#wrapperScroll {
    width: 300px;
    height: 150px;
    overflow: scroll;
}

#wrapperAuto {
    width: 300px;
    height: 150px;
    overflow: auto;
}

#imageMountain {
    width: 400px;
    height: 150px;
}