button {
    color: white;
    font-size: 15px;
    padding: 8px 16px;
    border: none;
    border-radius: 16px;
    outline: none;
}

button:hover {
    cursor: pointer;
    font-size: 18px;
}

#button_facebook {
    background-color: rgb(23, 23, 199)
}

#button_google {
    background-color: rgb(214, 87, 14);
}

#button_github {
    background-color: black;
}

.label {
    padding-left: 8px;
}

#google_logo {
    width: 15px;
    height: 15px;
}