body {
    margin: 0;
}
#topbar {
    background-color: lightblue;
    padding: 24px;
}

.menu_item {
    font-size: 24px;
    margin-right: 24px;
    color: black;
    text-decoration: none;
}

.menu_item:link {
    color: blue;
}

.menu_item:visited {
    color: green;
}

.menu_item:hover {
    color: red;
}

.menu_item:active {
    color: purple;
}

#duckducklink:hover {
    color:salmon;
    font-size: large;
}