body {
    margin: 0;
    background-color: rgb(197, 223, 231);
}

#topbar {
    width: 100%;
    height: 62px;
    padding: 12px 80px;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 5px #aaa;
}

#logo {
    color: lightskyblue;
    font-size: 32px;
    letter-spacing: -1px;
    font-weight: 900;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 48px;
}

.menuItem{
    margin: 12px;
    position: relative;
    top: -5px;
    cursor: pointer;
    float: right;
    font-weight: bold;
}

main {
    padding: 5% 12%;
    box-sizing: border-box;
}

article {
    padding: 18px;
    margin-bottom: 36px;
    font-size: 24px;
    line-height: 1.4;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 5px 10px #aaa;
}

.heading {
    font-size: 36px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Descandant-Selector: Selects all p inside article */
article p {
    font-size: 12px;
}

/* Child-Selector: Select only direct childs of p in article */
article > p {
    background-color: lightcoral;
}

/*Adjacent Sibling Selector: Select the p, which are direct neighbours of div*/
div + p {
    font-weight: bold;
}

/*General Sibiling Selector: Select all p, which are direct neighbours of div*/
div ~ p {
    font-style: italic;
}